<!DOCTYPE html>
<html>
<head>
    <title>Centered Button Card - Bootstrap</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }
    </style>
</head>
<body>
    <div id="loader" class="loader-container" style="display:none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="container mt-5 single">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Dad Jokes</h5>
                        <p class="card-text-single" style="font-family:cursive">A Joke will appear after clicking the button below.</p>
                        <button class="btn btn-primary" id="randomJoke">Tell me a Joke</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body" id="multiple">
                        <h5 class="card-title" id="parentContent">Dad Jokes</h5>
                        <p class="card-text-multiple" style="font-family:cursive">A Joke will appear after clicking the button below.</p>
                        <button class="btn btn-primary" id="randomJokesMultiple">Tell me some Jokes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        $(document).ready(function () {
            // Bind click event to the button
            $("#randomJoke").on("click", function () {

                $("#loader").show();
                // Perform AJAX request
                $.ajax({
                    url: "http://localhost:5293/DadJokeWrapperAPI/random/joke",
                    dataType: "json",
                    success: function (joke) {
                        $(".card-text").text(joke.setup);

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Failed to fetch joke:", errorThrown);
                    },
                    complete: function () {
                        // Hide the loader
                        $("#loader").hide();
                    }
                });
            });
        });

        $(document).ready(function () {
            // Bind click event to the button
            $("#randomJokesMultiple").on("click", function () {

                $("#loader").show();
                const count = generateRandomNumber;

                $.ajax({
                    url: "http://localhost:5293/DadJokeWrapperAPI/random/jokes", // Include count in the URL
                    dataType: "json",
                    data: { count: count },
                    success: function (jokes) {

                        jokes.forEach(function (joke) {
                            // Create a new paragraph element
                            var para = document.createElement("p");

                            // Set the class and style attributes for the paragraph
                            para.setAttribute("class", "card-text-multiple");
                            para.setAttribute("style", "font-family:cursive");

                            // Create a text node with the paragraph content
                            var paraText = document.createTextNode(joke.setup);

                            // Append the text node to the paragraph element
                            para.appendChild(paraText);

                            // Get the parent element where the paragraph will be appended
                            var parentElement = document.getElementById("multiple"); // Replace with the actual ID of the parent element
                            var h1Element = document.getElementById("parentContent")
                            // Append the paragraph element to the parent element
                            parentElement.insertBefore(para, h1Element.nextSibling);
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Failed to fetch jokes:", errorThrown);
                    },
                    complete: function () {
                        // Hide the loader
                        $("#loader").hide();
                    }
                });
            });
        });



        function generateRandomNumber() {
            return Math.floor(Math.random() * 5) + 1;
        }


                        // Fetch jokes from API

    </script>
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
